body {
   background-color: #5dace9;
    margin:10px;
}
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
}
.banner {
    background-color: #0074cd;
    color: #FFF;
    height: 90px;
}
.banner h1 {
    font-size: 40px;
    line-height: 40px;
}
.main-frame {
    background-color: #FFF;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: -20px;
}

.button_bar {
    position: relative;
    top: 20px;
    padding-bottom: 10px;
    text-align: right;
}

.search-box {
    line-height: 50px;
    background-color: #333;
    color: #FFF;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.search-box label {
    font-weight: bold;
    margin-left: 10px;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table th{
  background-color: #0074cd;
    color:white;
    font-weight: bold;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
form label {
    width:100px;
}

.red {color:red;}

.clickable {cursor: hand;}

input { width:250px;}
