body {
   background-color: #5dace9;
    margin:10px;
}
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size:x-large;
    margin-left: -10px;
    margin-bottom: 20px;
}
.container {
    margin-left: 0;
    padding: 0;
}
.main-frame {
    background-color: #FFF;
    padding: 0 25px;
    width: 100%;
    margin-top: 1px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.navbar-nav{
    margin: 60px 0 0 0 ;
}
.navbar-nav > li{
    border-top: thin solid lightgrey;
    border-left: thin solid lightgrey;
    border-right: thin solid lightgrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.active{
    color: white;
    font-weight: bold;
    background-color: #0074cd;
    border: 0;
}
.navbar-nav > li.active > a{
    color:white;
}

.navbar-nav > li > a{
    padding: 15px 30px 5px 30px;
}
.navbar-nav > li > a:hover{
    padding: 15px 30px 5px 30px;
    background-color: #5dace9;
    color: white;
    border-color:  #0074cd ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navbar-collapse{
    padding: 0;
    background-color: white;
    height: 100px;
    vertical-align: middle;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.navbar-brand{
    padding: 0 10px 0 0;
}
.navbar-header{
    padding: 0;
    background-color: white;
    height: 100px;
    vertical-align: middle;
}


.button_bar {
    position: relative;
    top: 20px;
    padding-bottom: 10px;
    text-align: right;
}

.search-box {
    line-height: 50px;
    background-color: #333;
    color: #FFF;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.search-box label {
    font-weight: bold;
    margin-left: 10px;
}

.edit-box {
    position: absolute;
    top: 300px;
    left: 150px;
    background-color: white;
    border : thin solid #0074cd;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    width:400px;
    margin: 10px auto;
    padding : 20px;
    -moz-box-shadow: 10px 10px 10px 0px #000;
    -webkit-box-shadow: 10px 10px 10px 0px #000;
    -o-box-shadow: 10px 10px 10px 0px #000;
    box-shadow: 10px 10px 10px 0px #000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
}
.edit-box .title{
    font-size: 25px;
    line-height: 25px;
    color: white;
    background-color: #0074cd;
    margin: -20px -20px 10px;
    padding: 10px 10px 5px;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table th{
  background-color: #0074cd;
    color:white;
    font-weight: bold;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
form label {
    width:100px;
}

.red {color:red;}

.clickable {cursor: hand;}

input { width:250px;}

label {
    width:300px;
}
input .form-control {
    width:400px;
    display:inline;
}
select .form-control {
    min-width:400px;
    display:inline;
}
#messages {
    background-color: yellow;
    font-size: 3px;
    font-weight: bold;
    line-height: 140%;
}

#status {
    background-color: red;
    font-size: 4px;
    font-weight: bold;
    color: white;
    line-height: 140%;
}