<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
	<title>Simulation d'evenements</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
    <script type="text/javascript" src="js/commons.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-1.1.2.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
	<link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="js/ledTest-app.js"></script>

    <style>
        label {
            width:300px;
        }
        input .form-control {
            width:400px;
            display:inline;
        }
        select .form-control {
            min-width:400px;
            display:inline;
        }
    </style>

</head>
<body  ng-app="ledTestApp">
<div ng-include="'navbar.html'"></div>
<div class="container main-frame" ng-controller="ledTestCtrl">
        <h1>Leds test</h1>

        <form class="form" name="form" novalidate>
            <div class="form-group" >
                <label>Pattern:</label>
                <select ng-model="pattern" ng-change="selectPattern()">
                    <option value="0">Stop</option>
                    <option value="1">Chase</option>
                    <option value="2">Chase_reverse</option>
                    <option value="3">All_blink</option>
                    <option value="4">All_pulse</option>
                    <option value="5">Triangle</option>
                </select>
            </div>
            <div ng-if="showParams">
                <div class="form-group" ng-if="showPeriod" >
                    <label>Period : </label>
                    <input type="number" ng-model="period" ng-change="getCommand()">
                </div>
                <div class="form-group"  ng-if="showLite">
                    <label>Lite : </label>
                    <input type="number" ng-model="lite" ng-change="getCommand()">
                </div>
                <div class="form-group" ng-if="showDark" >
                    <label>Dark : </label>
                    <input type="number" ng-model="dark" ng-change="getCommand()">
                </div>
                <div class="form-group"  ng-if="showColor1">
                    <label>Color <span ng-if="showColor2">1</span> : </label>
                    <input type="color" ng-model="color1" ng-change="getCommand()"> <br>
                </div>
                <div class="form-group" ng-if="showColor2" >
                    <label>Color 2 : </label>
                    <input type="color" ng-model="color2" ng-change="getCommand()"> <br>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form['actor_id'].$valid && submitted,
                                          'has-error': form['actor_id'].$invalid && submitted }">
                <label>Command</label>
                <input ng-keyup="$event.keyCode == 13 && send(form)" id="command" name="command" class="form-control" type="text" ng-model="command" required>
                <p class="help-block" ng-show="form['command'].$error.required && submitted">This field is required</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="send(form)">Envoyer</button>
            </div>
        </form>
    </div>
</body>
</html>
