<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
	<title>Simulation d'evenements</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
    <script type="text/javascript" src="js/commons.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-1.1.2.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
	<link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="js/simulator-app.js"></script>
</head>
<body  ng-app="simulatorApp">
<div ng-include="'navbar.html'"></div>
<div class="container main-frame" ng-controller="simulatorCtrl">
        <h1>Simulation</h1>

        <form class="form" name="form" novalidate>
            <div class="form-group" ng-class="{ 'has-success': form['actor_type'].$valid && submitted,
                                          'has-error': form['actor_type'].$invalid && submitted }">
                <label>Actor type</label>
                <select ng-model="event.actor_type" name=actor_type" required>
                    <option ng-repeat="actor_type in actor_types" value="{{ actor_type }}" >
                        {{ actor_type }}
                    </option>
                </select>
                <p class="help-block" ng-show="form['actor_type'].$error.required && submitted">This field is required</p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form['actor_id'].$valid && submitted,
                                          'has-error': form['actor_id'].$invalid && submitted }">
                <label>Actor id</label>
                <input name="actor_id" class="form-control" type="text" ng-model="event.actor_id" required>
                <p class="help-block" ng-show="form['actor_id'].$error.required && submitted">This field is required</p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form['action'].$valid && submitted,
                                          'has-error': form['action'].$invalid && submitted }">
                <label>Action</label>
                <select ng-model="event.action" name="action" required>
                    <option ng-repeat="action in actions[event.actor_type]" value="{{ action }}" >
                        {{ action }}
                    </option>
                </select>
                <p class="help-block" ng-show="form['action'].$error.required && submitted">This field is required</p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form['rfid_id'].$valid && submitted,
                                          'has-error': form['rfid_id'].$invalid && submitted }"
                 ng-show="event.actor_type=='RFID_READER'  &&( (event.action=='IN') || (event.action=='OUT') )">
                <label>Rfid id</label>
                <input name="rfid_id" class="form-control" type="text" ng-model="event.rfid_id" ng-required="event.actor_type=='RFID_READER' &&( (event.action=='IN') || (event.action=='OUT') )">
                <p class="help-block" ng-show="form['rfid_id'].$error.required && submitted">This field is required</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="send(form)">Envoyer</button>
            </div>
        </form>
    </div>
</body>
</html>
